{%extends "layout.html" %}

{% block body %}
    <h2>
    About the Project
    </h2>
    <p>
        The previous three energy comps groups have done an excellent job in creating an automated data pipeline which receives energy consumption data from <i>points</i>, or a value that can be observed remotely 
        (i.e. a room's temperature). Initial steps have been made to present a user interface that displays anomalies found in points around campus as well as energy usage trends capable of sorting points according
        to user inputted characteristics.<br><br>
        
        We, the fourth iteration of the Energy Analytics comps group, aim to build on the foundation of this previous work by producing an analytical tool with a user interface catered to the Facilities Team and those
        who oversee the energy usage at Carleton. We're confident that by improving the professionalism of the data storage, website interface, and providing more extensive user features, that we can deliver this tool.
        These improvements would allow for more ease of querying points around campus as well as quickly identifying anomalies around campus.
    </p>
    <h2>
        Looking for API documentation? Click <a href="https://documenter.getpostman.com/view/14650000/TzJsfy7D">here</a>.
    </h2>

{% endblock %}