{% extends "layout.html" %}

{% block body %}
<div id="container">
    <form id="series-0" class="series">
        <select class="building" multiple>
        </select>
        <select class="floor" multiple>
        </select>
        <select class="room" multiple>
        </select>
        <select class="device" multiple>
        </select>
        <select class="point" multiple>
        </select>
        <select class="tag" multiple>
        </select>
        <select class="type" multiple>
        </select>
        <select class="unit" multiple>
        </select>
        <select class="measurement" multiple>
        </select>
        <p class="point-verification-text"></p>
        <input type="text" class="value-query" placeholder="Value Query"/>
        <p class="value-verification-text"></p>
    </form>
</div>
<div id="timepicker">
    <input type="text" name="datetimes" id="daterange"/>
    <button id="submit-search-query">Search</button>
</div>

<div id="result-table">
    <table class="table">
        <thead><tr><th>Point Name</th><td>Timestamp</td><td>Value</td></tr></thead>
        <tbody></tbody>
    </table>
</div>

<script src="../static/js/anomalies.js"></script>
<script type="text/javascript" src="../static/js/search_engine.js"></script>
{% endblock %}
