{% extends "layout.html" %}

{% block body %}
<h2 style="text-align: center;">
    Anomalies
</h2>
<hr>
<h4>
    Point Selector
</h4>
<div id="anomaly-container">
    <form id="series-0" class="series">
        <select class="building" multiple>
        </select>
        <select class="floor" multiple>
        </select>
        <select class="room" multiple>
        </select>
        <select class="device" multiple>
        </select>
        <select class="point" multiple>
        </select>
        <select class="tag" multiple>
        </select>
        <select class="type" multiple>
        </select>
        <select class="unit" multiple>
        </select>
        <select class="measurement" multiple>
        </select>
        <p class="point-verification-text"></p>

        <p class="value-verification-text"></p>
        <br>
        <br>
    </form>
</div>
<div class="row">
    <div id="foobar" class="col-md-8 form-inline col-md-offset-2">
        <div class="col-md-3">
            <input id="value-query" type="text" class="value-query form-control" placeholder="Value Query" style="width: 100%;"/>
        </div>
        <div class=" form-group col-md-5">
            <div id="timepicker" class="input-group" style="width: 100%">
                <span class="input-group-addon"><i class="glyphicon glyphicon-calendar"></i></span>
                <input type="text" class="form-control" name="datetimes" id="daterange"
                       style="background-color: white; cursor: pointer" readonly/>
            </div>
        </div>
        <div class="form-group col-md-4">
            <button type="button" id="submit-search-query" type="button" class="btn btn-primary" style="background-color: #563d7c">Graph</button>
            <button type="button" id="create-rule" class="btn btn-secondary">Create Alert Rule</button>
        </div>
    </div>
    <div class="col-md-2">
        <p id="point-verification-text"></p>
    </div>
</div>
<hr>


<div class="col-md-10 svg" id="visualization"></div>
<div class="col-md-2" id="anomalous-points"></div>


<div id="result-table" hidden>
    <table class="table">
        <thead>
        <tr>
            <th>Point Name</th>
            <td>Timestamp</td>
            <td>Value</td>
        </tr>
        </thead>
        <tbody></tbody>
    </table>
</div>

<script>
    $("a").removeClass("active");
    $("#anomalies-link").addClass("active");
</script>

<script type="text/javascript" src="../static/js/anomaliesgraph.js"></script>
<script src="../static/js/anomalies.js"></script>
<script type="text/javascript" src="../static/js/search_engine.js"></script>
{% endblock %}