{%extends "layout.html" %}

<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.13.0/moment.min.js"></script>
<!-- <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datetimepicker/4.17.37/js/bootstrap-datetimepicker.min.js"></script> -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datetimepicker/4.17.47/js/bootstrap-datetimepicker.min.js"></script>



{% block body %}
    <div class="container">
        <h3>
            Heuristics Search
        </h3>
        <div class="dropdown">
            <button class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown" name="heuristic-button" style="width: fit-content; height: 50px; display: inline-block;">Heuristic
                <span class="caret"></span></button>
                <ul class="dropdown-menu" id="first-dropdown">
                    <li><a class="dropdown-item" href="#" onclick="changeSelection(this.innerHTML)">Room Temperature/Vent</a></li>
                    <li><a class="dropdown-item" href="#" onclick="changeSelection(this.innerHTML)">Room Temperature/Set Temperature</a></li>
                    <li><a class="dropdown-item" href="#" onclick="changeSelection(this.innerHTML)">Current Vent Percentage/Set Vent Percentage</a></li>
                </ul>
        </div>
        <br><br>
        <div style="display:flex;">
        <div class="dropdown" id="first-new-dropdown" style="display: none;">
        <p style="display:inline-block; width: fit-content; height: 50px;" id="first-param"></p>
        <select style="display: inline-block; width: fit-content; height: 50px;" id="first-threshold" name="first-operators">
            <option value=">">></option>
            <option value="<"><</option>
        </select>
        <form style="display: inline-block;" id="first-num-dropdown">
            <input type="number" id="first-num-input" min="1" max="100" style="width: fit-content; height: 50px; margin-right: 40px;" value=93>
        </form>
        </div>
        <div class="dropdown" id="second-new-dropdown" style="display: none;">
        <p style="display:inline-block; width: fit-content; height: 50px;" id="second-param"></p>
        <select style="display: inline-block; width: fit-content; height: 50px;" id="second-threshold" name="second-operators">
            <option value=">">></option>
            <option value="<"><</option>
        </select>
        <form style="display: inline-block;" id="second-num-dropdown">
            <input type="number" id="second-num-input" min="1" max="100" style="width: fit-content; height: 50px; margin-right: 40px;" value=93>
        </form>
    </div>
    <div class="dropdown" id="third-new-dropdown" style="display: none;">
    <p style="display: inline-block; width: fit-content; height: 50px;" id="building-param"></p>
        <select style="display: inline-block; width: fit-content; height: 50px; margin-right: 40px;" id="building-selector" name="buildings" value="All Buildings">
            <option value="All Buildings">All Buildings</option>
            <option value="Evans">Evans</option>
            <option value="Hulings">Hulings</option>
            <option value="Townhouses">Townhouses</option>
            <option value="Weitz">Weitz</option>
            <option value="Cassat">Cassat</option>
            <option value="Boliou">Boliou</option>
        </select>
        <input onclick="generateTable();" style="float:right; width: fit-content; height: 40px; margin-left: auto; margin-right: auto; position: absolute;" type="button" value="Search">
    </div>
    </div>
    <!-- adding date/time picker -->
    <section  class="col-sm-6" style="display: block; margin-left: auto; margin-right: auto;">
        <div class="form-group">
            <div class="input-group" id="datepicker" onclick="dateTimePick();" style="float: left"> Start Date/Time
                <input type="text" class="form-control">
                <span class="input-group-addon">
                    <span class="glyphicon glyphicon-calendar"></span>
                </span>
            </div>
            <br><br><br>
            <div class="input-group" id="datepicker1" onclick="dateTimePick();" style="float: right"> End Date/Time
                <input type="text" class="form-control">
                <span class="input-group-addon">
                    <span class="glyphicon glyphicon-calendar"></span>
                </span>
            </div>
        </div>
    </section>
    </div>
    <table class="table table-bordered" style="width: fit-content; margin-left: auto; margin-right:auto; display: none;" id="results-table">
        <thead>
            <tr>
                <th scope="col">Building & Room</th>
                <th scope="col">Room Temperature</th>
                <th scope="col">Damper Percentage</th>
                <th scope="col">Date & Time</th>
            </tr>
        </thead>
        <tbody>
        </tbody>
    </table>
    </div>
<script src="../static/js/anomalies-heuristics-search.js"></script>
{% endblock %}
