<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>Unnamed: 0</th>
      <th>003</th>
      <th>102</th>
      <th>106</th>
      <th>107</th>
      <th>108</th>
      <th>109</th>
      <th>111</th>
      <th>112</th>
      <th>114</th>
      <th>116</th>
      <th>118</th>
      <th>119</th>
      <th>120</th>
      <th>121</th>
      <th>122</th>
      <th>200</th>
      <th>202</th>
      <th>203</th>
      <th>204</th>
      <th>205</th>
      <th>206</th>
      <th>207</th>
      <th>208</th>
      <th>209</th>
      <th>211</th>
      <th>212</th>
      <th>213</th>
      <th>214</th>
      <th>215</th>
      <th>216</th>
      <th>300</th>
      <th>302</th>
      <th>303</th>
      <th>304</th>
      <th>305</th>
      <th>306</th>
      <th>307</th>
      <th>308</th>
      <th>309</th>
      <th>311</th>
      <th>312</th>
      <th>313</th>
      <th>314</th>
      <th>315</th>
      <th>316</th>
      <th>400</th>
      <th>401</th>
      <th>402</th>
      <th>403</th>
      <th>404</th>
      <th>405</th>
      <th>406</th>
      <th>407</th>
      <th>411</th>
      <th>412</th>
      <th>413</th>
      <th>414</th>
      <th>415</th>
      <th>B4</th>
      <th>G04</th>
      <th>G05</th>
      <th>G06</th>
      <th>G07</th>
      <th>G08</th>
      <th>G09</th>
      <th>G10</th>
      <th>G11</th>
      <th>G14</th>
      <th>G16</th>
      <th>G17</th>
      <th>G18</th>
      <th>G19</th>
      <th>G20</th>
      <th>G21</th>
      <th>G26</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>0</th>
      <td>temp</td>
      <td>14</td>
      <td>0</td>
      <td>0</td>
      <td>2</td>
      <td>4</td>
      <td>2</td>
      <td>0</td>
      <td>10</td>
      <td>0</td>
      <td>5</td>
      <td>0</td>
      <td>3</td>
      <td>0</td>
      <td>5</td>
      <td>3</td>
      <td>0</td>
      <td>5</td>
      <td>8</td>
      <td>0</td>
      <td>4</td>
      <td>0</td>
      <td>14</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>2</td>
      <td>32</td>
      <td>9</td>
      <td>4</td>
      <td>4</td>
      <td>0</td>
      <td>10</td>
      <td>0</td>
      <td>2</td>
      <td>1</td>
      <td>1</td>
      <td>4</td>
      <td>28</td>
      <td>29</td>
      <td>0</td>
      <td>0</td>
      <td>5</td>
      <td>1</td>
      <td>6</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>17</td>
      <td>1</td>
      <td>0</td>
      <td>2</td>
      <td>0</td>
      <td>1</td>
      <td>0</td>
      <td>43</td>
      <td>0</td>
      <td>36</td>
      <td>10</td>
      <td>2</td>
      <td>10</td>
      <td>1</td>
      <td>0</td>
      <td>3</td>
      <td>0</td>
      <td>1</td>
      <td>0</td>
      <td>28</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>36</td>
      <td>2</td>
      <td>28</td>
    </tr>
    <tr>
      <th>1</th>
      <td>vent</td>
      <td>47</td>
      <td>0</td>
      <td>0</td>
      <td>6</td>
      <td>3</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>3</td>
      <td>0</td>
      <td>0</td>
      <td>2</td>
      <td>0</td>
      <td>7</td>
      <td>3</td>
      <td>0</td>
      <td>2</td>
      <td>47</td>
      <td>0</td>
      <td>4</td>
      <td>2</td>
      <td>2</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>6</td>
      <td>0</td>
      <td>4</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>2</td>
      <td>47</td>
      <td>3</td>
      <td>2</td>
      <td>0</td>
      <td>47</td>
      <td>0</td>
      <td>0</td>
      <td>2</td>
      <td>3</td>
      <td>2</td>
      <td>0</td>
      <td>28</td>
      <td>0</td>
      <td>0</td>
      <td>2</td>
      <td>2</td>
      <td>0</td>
      <td>4</td>
      <td>8</td>
      <td>0</td>
      <td>0</td>
      <td>39</td>
      <td>0</td>
      <td>4</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>1</td>
      <td>1</td>
      <td>0</td>
      <td>47</td>
      <td>3</td>
      <td>1</td>
      <td>0</td>
      <td>3</td>
      <td>5</td>
      <td>0</td>
    </tr>
    <tr>
      <th>2</th>
      <td>set temp diff</td>
      <td>13</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>2</td>
      <td>96</td>
      <td>0</td>
      <td>10</td>
      <td>0</td>
      <td>5</td>
      <td>0</td>
      <td>3</td>
      <td>0</td>
      <td>5</td>
      <td>0</td>
      <td>0</td>
      <td>5</td>
      <td>8</td>
      <td>0</td>
      <td>4</td>
      <td>0</td>
      <td>14</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>2</td>
      <td>32</td>
      <td>9</td>
      <td>4</td>
      <td>5</td>
      <td>0</td>
      <td>10</td>
      <td>0</td>
      <td>2</td>
      <td>1</td>
      <td>1</td>
      <td>14</td>
      <td>33</td>
      <td>29</td>
      <td>0</td>
      <td>0</td>
      <td>5</td>
      <td>1</td>
      <td>6</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>16</td>
      <td>2</td>
      <td>0</td>
      <td>2</td>
      <td>0</td>
      <td>1</td>
      <td>0</td>
      <td>43</td>
      <td>0</td>
      <td>37</td>
      <td>10</td>
      <td>2</td>
      <td>0</td>
      <td>1</td>
      <td>0</td>
      <td>3</td>
      <td>0</td>
      <td>1</td>
      <td>0</td>
      <td>8</td>
      <td>4</td>
      <td>0</td>
      <td>0</td>
      <td>36</td>
      <td>2</td>
      <td>31</td>
    </tr>
    <tr>
      <th>3</th>
      <td>vsp set diff</td>
      <td>2</td>
      <td>2</td>
      <td>2</td>
      <td>0</td>
      <td>0</td>
      <td>96</td>
      <td>0</td>
      <td>7</td>
      <td>15</td>
      <td>2</td>
      <td>1</td>
      <td>6</td>
      <td>8</td>
      <td>12</td>
      <td>96</td>
      <td>5</td>
      <td>2</td>
      <td>22</td>
      <td>10</td>
      <td>5</td>
      <td>3</td>
      <td>5</td>
      <td>0</td>
      <td>5</td>
      <td>6</td>
      <td>0</td>
      <td>4</td>
      <td>8</td>
      <td>10</td>
      <td>21</td>
      <td>33</td>
      <td>3</td>
      <td>2</td>
      <td>1</td>
      <td>12</td>
      <td>5</td>
      <td>8</td>
      <td>5</td>
      <td>9</td>
      <td>2</td>
      <td>4</td>
      <td>21</td>
      <td>31</td>
      <td>10</td>
      <td>6</td>
      <td>1</td>
      <td>20</td>
      <td>5</td>
      <td>0</td>
      <td>1</td>
      <td>7</td>
      <td>15</td>
      <td>0</td>
      <td>20</td>
      <td>5</td>
      <td>13</td>
      <td>4</td>
      <td>2</td>
      <td>0</td>
      <td>3</td>
      <td>6</td>
      <td>0</td>
      <td>2</td>
      <td>7</td>
      <td>7</td>
      <td>5</td>
      <td>19</td>
      <td>5</td>
      <td>38</td>
      <td>0</td>
      <td>12</td>
      <td>10</td>
      <td>16</td>
      <td>6</td>
      <td>35</td>
    </tr>
  </tbody>
</table>