{%extends "layout.html" %}

{% block body %}
<div>
    <table id="rule-table" class="table table-striped table-dark">
        <thead>
        <tr>
            <th scope="col">Name</th>
            <th scope="col">Action</th>
        </tr>

        </thead>
        <tbody>
        <!--<tr>-->
            <!--<th scope="row">1</th>-->
            <!--<td>Otto</td>-->
            <!--<td>@mdo</td>-->
            <!--<td>-->
                <!--<button type="button" class="btn btn-success">Rename</button>-->
                <!--<button type="button" class="btn btn-danger">Delete</button>-->
                <!--<a type="button" class="btn btn-primary" href="">Jump!</a>-->
            <!--</td>-->
        <!--</tr>-->
        </tbody>
    </table>
</div>


<script type="text/javascript" src="../static/js/rules.js"></script>
<script src="../static/js/anomalies.js"></script>
{% endblock %}