<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <title>title</title>
  <script src="http://d3js.org/d3.v3.js" charset="utf-8"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="../static/js/trend.js"></script>
  <!--<link rel="stylesheet" href="../static/css/styles.css">-->
  <!-- Latest compiled and minified CSS -->
  <link rel="stylesheet"
        href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
  <!-- jQuery library -->
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <!-- Latest compiled JavaScript -->
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
  <!-- js for vis -->
  <script type="text/javascript" src="../static/js/search_engine.js"></script>

  <!-- boostrap-select -->
  <!--<link rel="stylesheet"-->
  <!--href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.13.2/css/bootstrap-select.min.css">-->
  <!--<script-->
  <!--src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.13.2/js/bootstrap-select.min.js"></script>-->

</head>
<body>
<!--<div class="bubble">-->
<!--<span class="bubble-left" style="width: 150px">-->
<div class="row">
  <form id="series-0" class="series">
    <div class="col-md-2">
      <select class="selectpicker building" multiple>
      </select>
    </div>
    <div class="col-md-2">
      <select class="selectpicker floor" multiple>
      </select>
    </div>
    <div class="col-md-2">
      <select class="selectpicker room" multiple>
      </select>
    </div>
    <div class="col-md-2">
      <select class="selectpicker device" multiple>
      </select>
    </div>
    <div class="col-md-2">
      <select class="selectpicker point" multiple>
      </select>
    </div>
  </form>

</div>

<!--</span>-->
<!--<span class="bubble-right">-->
<!--<select class="select-building">-->
<!--<option></option>-->
<!--</select>-->
<!--</span>-->
<!--</div>-->
</body>
</html>
